<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8" />
<link rel="shortcut icon" href="favicon.png" />
<title>Examples ▲ Prism Magento template</title>
<link rel="stylesheet" href="node_modules/prismjs/themes/prism.css" data-noprefix />
</head>
<body>
    <header>
    	<h2>Examples</h2>
    	<p>
            The examples in this page serve a dual purpose: They act as unit tests, making it easy to spot bugs, and at
            the same time demonstrate what Prism can do, on simple and on edge cases.
        </p>
    </header>
    <section class="language-magentotemplate">
        <h1>Magento template</h1>

        <h2>Directives</h2>

        <h3>block</h3>
<pre><code class="language-magentotemplate">{{block
    class=&#39;Magento\\Framework\\View\\Element\\Template&#39;
    area=&#39;frontend&#39;
    template=&#39;Magento_Sales::email&#x2F;shipment&#x2F;track.phtml&#39;
    shipment=$shipment
    order=$order}}</code></pre>

        <h3>trans</h3>
<pre><code class="language-magentotemplate">{{trans &#39;You can check the status of your order by &lt;a href=&quot;%account_url&quot;&gt;logging into your account&lt;&#x2F;a&gt;.&#39; account_url=$this.getUrl($store,&#39;customer&#x2F;account&#x2F;&#39;,[_nosid:1]) |raw}}</code></pre>

        <h3>var</h3>
<pre><code class="language-magentotemplate">{{var template_styles|raw}}</code></pre>

        <h3>config</h3>
<pre><code class="language-magentotemplate">{{config path=&quot;general&#x2F;store_information&#x2F;phone&quot;}}</code></pre>

        <h3>template</h3>
<pre><code class="language-magentotemplate">{{template config_path="design/email/header_template"}}</code></pre>

        <h3>depend</h3>
<pre><code class="language-magentotemplate">{{depend company}}{{var company}}{{&#x2F;depend}}</code></pre>

        <h3>if</h3>
<pre><code class="language-magentotemplate">{{if street1}}{{var street1}}
{{&#x2F;if}}</code></pre>

        <h3>css</h3>
<pre><code class="language-magentotemplate">{{css file="css/email.css"}}</code></pre>

        <h3>inlinecss</h3>
<pre><code class="language-magentotemplate">{{inlinecss file=&quot;css&#x2F;email-inline.css&quot;}}</code></pre>

        <h3>layout</h3>
<pre><code class="language-magentotemplate">{{layout handle=&quot;sales_email_order_shipment_items&quot; shipment=$shipment order=$order}}</code></pre>

        <h2>Embedded</h2>

        <h3>header.html</h3>
<pre><code class="language-magentotemplate">&lt;!--
&#x2F;**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 *&#x2F;
--&gt;
&lt;!--@subject {{trans &quot;Header&quot;}} @--&gt;
&lt;!--@vars {
&quot;var logo_height&quot;:&quot;Email Logo Image Height&quot;,
&quot;var logo_width&quot;:&quot;Email Logo Image Width&quot;,
&quot;var template_styles|raw&quot;:&quot;Template CSS&quot;
} @--&gt;

&lt;!DOCTYPE html PUBLIC &quot;-&#x2F;&#x2F;W3C&#x2F;&#x2F;DTD XHTML 1.0 Strict&#x2F;&#x2F;EN&quot; &quot;http:&#x2F;&#x2F;www.w3.org&#x2F;TR&#x2F;xhtml1&#x2F;DTD&#x2F;xhtml1-strict.dtd&quot;&gt;
&lt;html xmlns=&quot;http:&#x2F;&#x2F;www.w3.org&#x2F;1999&#x2F;xhtml&quot;&gt;
&lt;head&gt;
    &lt;meta http-equiv=&quot;Content-Type&quot; content=&quot;text&#x2F;html; charset=utf-8&quot; &#x2F;&gt;
    &lt;meta name=&quot;viewport&quot; content=&quot;initial-scale=1.0, width=device-width&quot; &#x2F;&gt;
    &lt;meta http-equiv=&quot;X-UA-Compatible&quot; content=&quot;IE=edge&quot; &#x2F;&gt;
    &lt;style type=&quot;text&#x2F;css&quot;&gt;
        {{var template_styles|raw}}

        {{css file=&quot;css&#x2F;email.css&quot;}}
    &lt;&#x2F;style&gt;
&lt;&#x2F;head&gt;
&lt;body&gt;
{{inlinecss file=&quot;css&#x2F;email-inline.css&quot;}}

&lt;!-- Begin wrapper table --&gt;
&lt;table class=&quot;wrapper&quot; width=&quot;100%&quot;&gt;
    &lt;tr&gt;
        &lt;td class=&quot;wrapper-inner&quot; align=&quot;center&quot;&gt;
            &lt;table class=&quot;main&quot; align=&quot;center&quot;&gt;
                &lt;tr&gt;
                    &lt;td class=&quot;header&quot;&gt;
                        &lt;a class=&quot;logo&quot; href=&quot;{{store url=&quot;&quot;}}&quot;&gt;
                            &lt;img
                                {{if logo_width}}
                                    width=&quot;{{var logo_width}}&quot;
                                {{else}}
                                    width=&quot;180&quot;
                                {{&#x2F;if}}

                                {{if logo_height}}
                                    height=&quot;{{var logo_height}}&quot;
                                {{else}}
                                    height=&quot;52&quot;
                                {{&#x2F;if}}

                                src=&quot;{{var logo_url}}&quot;
                                alt=&quot;{{var logo_alt}}&quot;
                                border=&quot;0&quot;
                            &#x2F;&gt;
                        &lt;&#x2F;a&gt;
                    &lt;&#x2F;td&gt;
                &lt;&#x2F;tr&gt;
                &lt;tr&gt;
                    &lt;td class=&quot;main-content&quot;&gt;
                    &lt;!-- Begin Content --&gt;</code></pre>

        <h3>shipment_new.html</h3>
<pre><code class="language-magentotemplate">&lt;!--
&#x2F;**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 *&#x2F;
--&gt;
&lt;!--@subject {{trans &quot;Your %store_name order has shipped&quot; store_name=$store.getFrontendName()}} @--&gt;
&lt;!--@vars {
&quot;var formattedBillingAddress|raw&quot;:&quot;Billing Address&quot;,
&quot;var this.getUrl($store, &#39;customer&#x2F;account&#x2F;&#39;)&quot;:&quot;Customer Account URL&quot;,
&quot;var order.getCustomerName()&quot;:&quot;Customer Name&quot;,
&quot;var order.increment_id&quot;:&quot;Order Id&quot;,
&quot;var payment_html|raw&quot;:&quot;Payment Details&quot;,
&quot;var comment&quot;:&quot;Shipment Comment&quot;,
&quot;var shipment.increment_id&quot;:&quot;Shipment Id&quot;,
&quot;layout handle=\&quot;sales_email_order_shipment_items\&quot; shipment=$shipment order=$order&quot;:&quot;Shipment Items Grid&quot;,
&quot;block class=&#39;Magento\\\\Framework\\\\View\\\\Element\\\\Template&#39; area=&#39;frontend&#39; template=&#39;Magento_Sales::email\&#x2F;shipment\&#x2F;track.phtml&#39; shipment=$shipment order=$order&quot;:&quot;Shipment Track Details&quot;,
&quot;var formattedShippingAddress|raw&quot;:&quot;Shipping Address&quot;,
&quot;var order.shipping_description&quot;:&quot;Shipping Description&quot;,
&quot;var order.getShippingDescription()&quot;:&quot;Shipping Description&quot;
} @--&gt;
{{template config_path=&quot;design&#x2F;email&#x2F;header_template&quot;}}

&lt;table&gt;
    &lt;tr class=&quot;email-intro&quot;&gt;
        &lt;td&gt;
            &lt;p class=&quot;greeting&quot;&gt;{{trans &quot;%name,&quot; name=$order.getCustomerName()}}&lt;&#x2F;p&gt;
            &lt;p&gt;
                {{trans &quot;Thank you for your order from %store_name.&quot; store_name=$store.getFrontendName()}}
                {{trans &#39;You can check the status of your order by &lt;a href=&quot;%account_url&quot;&gt;logging into your account&lt;&#x2F;a&gt;.&#39; account_url=$this.getUrl($store,&#39;customer&#x2F;account&#x2F;&#39;,[_nosid:1]) |raw}}
            &lt;&#x2F;p&gt;
            &lt;p&gt;
                {{trans &#39;If you have questions about your order, you can email us at &lt;a href=&quot;mailto:%store_email&quot;&gt;%store_email&lt;&#x2F;a&gt;.&#39; store_email=$store_email |raw}}
            &lt;&#x2F;p&gt;
            &lt;p&gt;{{trans &quot;Your shipping confirmation is below. Thank you again for your business.&quot;}}&lt;&#x2F;p&gt;
        &lt;&#x2F;td&gt;
    &lt;&#x2F;tr&gt;
    &lt;tr class=&quot;email-summary&quot;&gt;
        &lt;td&gt;
            &lt;h1&gt;{{trans &quot;Your Shipment #%shipment_id for Order #%order_id&quot; shipment_id=$shipment.increment_id order_id=$order.increment_id}}&lt;&#x2F;h1&gt;
        &lt;&#x2F;td&gt;
    &lt;&#x2F;tr&gt;
    &lt;tr class=&quot;email-information&quot;&gt;
        &lt;td&gt;
            {{depend comment}}
            &lt;table class=&quot;message-info&quot;&gt;
                &lt;tr&gt;
                    &lt;td&gt;
                        {{var comment|escape|nl2br}}
                    &lt;&#x2F;td&gt;
                &lt;&#x2F;tr&gt;
            &lt;&#x2F;table&gt;
            {{&#x2F;depend}}
            {{block class=&#39;Magento\\Framework\\View\\Element\\Template&#39; area=&#39;frontend&#39; template=&#39;Magento_Sales::email&#x2F;shipment&#x2F;track.phtml&#39; shipment=$shipment order=$order}}
            &lt;table class=&quot;order-details&quot;&gt;
                &lt;tr&gt;
                    &lt;td class=&quot;address-details&quot;&gt;
                        &lt;h3&gt;{{trans &quot;Billing Info&quot;}}&lt;&#x2F;h3&gt;
                        &lt;p&gt;{{var formattedBillingAddress|raw}}&lt;&#x2F;p&gt;
                    &lt;&#x2F;td&gt;
                    {{depend order.getIsNotVirtual()}}
                    &lt;td class=&quot;address-details&quot;&gt;
                        &lt;h3&gt;{{trans &quot;Shipping Info&quot;}}&lt;&#x2F;h3&gt;
                        &lt;p&gt;{{var formattedShippingAddress|raw}}&lt;&#x2F;p&gt;
                    &lt;&#x2F;td&gt;
                    {{&#x2F;depend}}
                &lt;&#x2F;tr&gt;
                &lt;tr&gt;
                    &lt;td class=&quot;method-info&quot;&gt;
                        &lt;h3&gt;{{trans &quot;Payment Method&quot;}}&lt;&#x2F;h3&gt;
                        {{var payment_html|raw}}
                    &lt;&#x2F;td&gt;
                    {{depend order.getIsNotVirtual()}}
                    &lt;td class=&quot;method-info&quot;&gt;
                        &lt;h3&gt;{{trans &quot;Shipping Method&quot;}}&lt;&#x2F;h3&gt;
                        &lt;p&gt;{{var order.getShippingDescription()}}&lt;&#x2F;p&gt;
                    &lt;&#x2F;td&gt;
                    {{&#x2F;depend}}
                &lt;&#x2F;tr&gt;
            &lt;&#x2F;table&gt;
            {{layout handle=&quot;sales_email_order_shipment_items&quot; shipment=$shipment order=$order}}
        &lt;&#x2F;td&gt;
    &lt;&#x2F;tr&gt;
&lt;&#x2F;table&gt;

{{template config_path=&quot;design&#x2F;email&#x2F;footer_template&quot;}}</code></pre>
    </section>
    <script src="node_modules/prismjs/prism.js"></script>
    <script src="components/prism-magentotemplate.js"></script>
</body>
</html>
